.container-fluid{
    text-align: center;
    margin-top: 30px;
}

.info{
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}
.info p{
    margin-bottom: 7px;
    margin-top: 5px;
    font-size: 16px;
}
.info a{
    color: #000;
}
.info a i, .info p, span.badge{
    color: #fff;
}
.info:hover{
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.info:nth-child(odd){
    background-color: #AB47BC;
}
.info:nth-child(even){
    background-color: #4CAF50;
}
.info:nth-child(3n+2){
    background-color: #E91E63;
}
.info:nth-child(5n-2){
    background-color: #FFEB3B;
}
.btn-sm{
    display: block;
    text-align: right;
}
.fa{
    font-size: 20px;
}
.row .col.m2 {
    width: 47%;
}
span.badge {
    padding: 4px 6px;
    margin: 5px;
    font-size: 13px;
    position: static;
}
@media only screen and (max-width: 1199px){
    .row .col.m2 {
        width: 38%;
        margin-left: auto;
        left: auto;
    }
}
@media only screen and (max-width: 992px){
    .row .col.s12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}