<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" class="validate"
               [(ngModel)]="name" formControlName="name"
               [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid">
        <label for="name"
               [class.active]="name"
               data-error="Name is required and needs to contain at least 3 chars">
          Name
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <input id="description" class="validate"
               [(ngModel)]="description" formControlName="description"
               [class.invalid]="form.controls['description'].touched && !form.controls['description'].valid">
        <label for="description"
               [class.active]="description"
               data-error="Description is required and needs to contain at least 3 chars">
          Description
        </label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
