<div class="container-fluid">
<div class="row">
    <div *ngFor="let department of departments; let i=index" class="info col m2 s12 z-depth-1">
    <p>{{ i+1}}.{{department.name}}</p>
    <p>{{department.description}}</p>
    <p><a [routerLink]="['/employees']">Get Employees</a></p>
    <a class="btn btn-danger btn-sm faculty_btnsm" role="button" title="Delete Department"
       (click)="deleteDepartment(department)">
      <i class="material-icons">delete</i>
    </a>
  </div>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light"
     routerLink="new">
    <i class="material-icons">add</i>
  </a>
  </div>
</div>
  