<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" class="validate"
               [(ngModel)]="name" formControlName="name">
        <label for="name"
               [class.active]="name">
          Name
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <input id="description" class="validate"
               [(ngModel)]="description" formControlName="description">
        <label for="description"
               [class.active]="description">
          Description
        </label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
